.image_container{
    
}
.body{
    width: 100%;
    height: 100%;
}
.header{
}
.header_wrapper{
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.header_roomName,.header_nickName{
    height: 60px;
    font-size: 50px;
    padding: 10px;
    background-color: brown;
    color: aliceblue;
}
.main{
    width: 100%;
    padding-top: 50px;
}
.main-left, .main-right{
    float: left;
    position: relative;
}
/* .main-left{
    width: 30%;
    background-color: red;
}
.main-right{
    width: 70%;
    background-color: blue;
} */

.student_video{
    width: 320px;
    height: 240px;
}
.teacher_video{
    width: 640px;
    height: 480px;
}
.mycam_container{
    padding-right: 0;
}


/* .test-box{
    width: 50%;
    border: 15px solid green;

    position: absolute;
} */