.image_container{
    
}
.body{
    width: 100%;
    height: 100%;
    background-color: purple;
}
.header{
}
.header_wrapper{
    background-color: #55efc4;
    display: flex;
    justify-content: space-between;
}
.loggo{
    color: #2d3436;
}
.header_loggo,.header_roomName,.header_nickName,.header_email{
    height: 10%;
    font-size: 50px;
    padding: 1%;
    margin: 1%;
    background-color: brown;
    color: #2d3436;
    align-items: center;
}
.main{
}
#main-container{
    width: 100%;
    height:86%;
    position: absolute;
    background-color: orange;
}
.main-left, .main-right{
    float: left;
}
.main-left{
    width: 30%;
    height: 100%;
    background-color: #a29bfe;
    position: relative;
}
.main-right{
    width: 70%;
    height: 100%;
    background-color: #74b9ff;
}

.student_container{
    background-color: #ff7675;
    width: 33%;
    float: left;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
}
.student_video{
    width: 90%;
    margin: 5%;
    border-radius: 5px;
    /* width: 320px; */
    /* height: 240px; */
}
.teacher_video{
    width: 100%;
    /* width: 640px;
    height: 480px; */
}


#chat_container{
    width: 100%;
    height: 45%;
    position: absolute;
    bottom: 0;
    background-color: white;
}
#chat_board{
    background-color: #dfe6e9;
    width: 100%;
    height: 90%;
}
#chatForm{
    width: 100%;
    height: 10%;
    background-color: aqua;
    position: absolute;
    bottom: 0;
    display: flex;
}
#chatinput{
    width: 90%;
    height: 80%;
}
#sendbtn{
    width: 15%;
    height: 100%;
    background-color: #b2bec3;
    border: none;
}
#sendbtn:focus,#chatinput:focus{
    outline: none;
}
#sendbtn:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }
.chat-span{
    margin-top: 5px;
    margin-left: 5px;
}

/* floating window */
#console{
    width: 320px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    background-color: #81ecec;
    position: fixed;
    right: 0;
    bottom: 0;
}
span.windowTitle {
  /*font-family: "Segoe UI";*/
  font-size: 50;
  width: 100px;
  height: 100px;
  position: relative;
  font-family: "Roboto";
  font-weight: bold
}
#refreshbtn{
  position: absolute;
  right: 200px;
}