<form action="/login" method="POST">
    <span>email</span>
    <input type="email" name="email">
    <br>
    <span>password</span>
    <input type="password" name="password">
    <input type="submit">
</form>
<a href="/auth/google"> login with google </a>
