<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <img id='image2'>
        <textarea id="text2">FUCK</textarea>
        <video id="webcam" autoplay playsinline width="640" height="480"></video>
        <canvas id="canvas" class="d-none"></canvas>
        <!-- <audio id="snapSound" src="audio/snap.wav" preload = "auto"></audio> -->
        HELLO??
        <button id="btn1">broadcast</button>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
        <script type="text/javascript" src="/static/main.js"></script>
    </body>
</html>