<form action="/login" method="POST">
    <span>email</span>
    <input type="email" name="email">
    <br>
    <span>password</span>
    <input type="password" name="password">
    <input type="submit">
</form>
<a href="/auth/google"> login with google </a>


<!-- form(action="/login",method="post")
        span email
        input(type="email",name="email")
        br
        span password
        input(type="password", name="password")
        input(type="submit")

    a(href="/auth/google") login with google -->